.pdw .text-navB {
  position: absolute;
  z-index: 999;
  top: 7%;
  margin-left: 4.5rem;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.pdw .text-navB i {
  padding-right: 15px;
}

.pdw .swiper-detail img {
  height: 700px;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(190, 147, 52);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button-5:hover,
.button-5:focus {
  background-color: rgb(190, 147, 52, 0.7);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: rgb(190, 147, 52);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.detailW {
  padding-top: 70px;
}
.detailW .container .row .col-4 {
  padding-right: 70px;
}

.detailW .container .row .col-4 ul {
  border: 0.5px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}
.detailW .container .row .col-4 ul li {
  font-size: 15px;
  line-height: 25px;
  color: #333;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  border-style: dotted;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 6px;
}
.detailW .container .row .col-4 ul li:nth-child(n + 2) {
  padding-top: 15px;
}
.detailW .container .row .col-4 ul li span {
  font-weight: bold;
}
.detailW .container .row .col-4 ul li:last-child {
  border-bottom: 0;
}
.detailW .container .row .col-8 h3 {
  font-size: 27px;
  color: rgb(190, 147, 52, 0.8);
  line-height: 34px;
}
.detailW .container .row .col-8 h4 {
  font-size: 21px;
  padding-left: 10px;
  color: rgb(190, 147, 52);
}
.detailW .container .row .col-8 ul {
  padding: 5px 20px;
}
.detailW .container .row .col-8 ul li {
  list-style-type: disc;
  font-size: 15px;
  padding-top: 7px;
  color: #333;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.headerForm {
  padding: 20px 40px;
}

.form-control {
  border: none;
}

.headerForm h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input
{
  border-color: #2ecc71;
}
.drop-container.success {
    border: 1px solid #2ecc71;
}


.form-control.error input{
  border-color: #e74c3c;
}

.drop-container.error {
    border: 1px solid #e74c3c;
}
.form-control i {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 20px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: -5px;
  left: 20px;
  display: none;
}

.form-control.error small {
  display: block;
}

.form .button-5 {
  margin-top: 0.5rem;
}


.drop-container {
  position: relative;
  display: flex !important;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #e0e0e0;
  color: #444;
  cursor: pointer;
  transition: 0.2s ease-in-out, border 0.2s ease-in-out;
  width: 100%;
}

.drop-container:hover {
  background: #eee;
  border-color: #e0e0e0;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgb(190, 147, 52);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: rgb(190, 147, 52, 0.7);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(190, 147, 52);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
