@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;0,800;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@1,700&family=Yeseva+One&display=swap');
@import url("gallery-image-popup.css");
ul {
  padding: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div
{
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 19px !important;
} 
img {
  max-width: 100%;
  width: 100%;
}
section {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.f-Noto {
  font-family: 'Noto Serif', serif !important;
}

#loading-overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
}

.loader:before,
.loader:after {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  -webkit-animation: preloader-wave 1.6s linear infinite;
  animation: preloader-wave 1.6s linear infinite;
  border-radius: 50%;
  background: rgb(190, 147, 52);
}

.loader:after {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

.ic-scrollTop {
  text-align: center;
  display: block;
  position: fixed;
  color: #fff;
  font-size: 20px;
  background-color: #333;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 100%;
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
  bottom: 60px;
  right: 10px;
  z-index: 300;
  width: 50px;
  height: 50px;
  transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -moz-transition-transform: translate(0px, 10px);
}
.ic-scrollTop:hover {
  cursor: pointer;
  background-color: #000;
}
.ic-scrollTop:hover i {
  color: #fff;
}
.ic-scrollTop i {
  line-height: 50px;
}

.ic-scrollTop-show {
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}

.title-part {
  font-size: 32px;
  font-weight: 600;
  color: rgb(190, 147, 52);
}

.bordersh {
  width: 115px;
  height: 6px;
  background-color: #111111;
  margin-top: 12px;
}

.navbar {
  position: absolute;
  z-index: 1000;
  max-width: 100%;
  top: 0;
  width: 100%;
}

.navbar-expand-lg.oque {
  position: fixed !important;

  background-color: #fff !important;

  border-bottom: 1px solid #efefef;

  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04) !important;

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

header .navbar-expand-lg.oque .wrHeader > a,
header .navbar-expand-lg.oque .navbar-nav li > a {
  color: rgb(190, 147, 52);
}
.navbar-expand-lg.oque .navbar-nav li .active,
header .navbar-expand-lg.oque .navbar-nav li > a:hover {
  color: #fff;
}

header .navbar .wrHeader > a {
  color: #fff;
}
.navbar .wrHeader .navbar-brand .txt {
  top: 37px;
  position: absolute;
  margin-left: 12px;
  font-size: 20px;
}

.navbar .navbar-nav li {
  margin-left: 14px;
}
.navbar .navbar-nav li a {
  border-radius: 7px;
}

.navbar .navbar-nav li > a {
  color: #fff;
  font-size: 17px;
}
.navbar .navbar-nav li > a:hover {
  background-color: rgb(190, 147, 52);
  color: #fff;
}
.navbar .navbar-nav li .active {
  color: "#fff";
  background-color: rgb(190, 147, 52);
}

.swiper {
  max-width: 100%;
}

.pdw {
  position: relative;
  z-index: 999;
}

.pdw .swiper-slide img {
  object-fit: cover;
  height: 700px;
}

.pdw .swiper-slide {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.img-slid::before {
  width: 100%;

  background: rgba(0, 0, 0, 0.4);

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;
}

.pdw .content {
  position: absolute;
  /* width: 100%;
    height: 100%; */
  top: 40%;
  color: #fff;
  z-index: 20;
}

.pdw .content h2 {
  font-size: 65px;
  letter-spacing: 1.2px;
  color: #fff;
  text-transform: uppercase;
}

.pdw .content p {
  font-size: 20px;
}

.pwd .swiper-button-next,
.swiper-button-pre {
  color: "#fff" !important;
}

.pwd .swiper-pagination .swiper-pagination-bullet {
  opacity: 0.32;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  color: "#fff" !important;
  opacity: 1;
}

/* info-SM */
.info-socialMedia {
  position: absolute;
  top: 78%;
  margin-left: 0rem;
  color: #fff;
  z-index: 20;
}
.info-socialMedia .infoSM-item {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 2px 2px transparent;
}
.info-socialMedia .infoSM-item .infoSM-link {
  font-size: 14px;
}

.info-socialMedia .infoSM-item .infoSM-link i {
  font-size: 12.5px;
}
.info-socialMedia .infoSM-item .infoSM-link:hover {
  text-shadow: 2px 2px #555;
}
.info-socialMedia .infoSM-item .infoSM-link:hover i {
  text-shadow: 2px 2px transparent;
}
.info-socialMedia .infoSM-item .infoSM-link i {
  font-size: 12.5px;
}
.info-socialMedia .infoSM-item .infoSM-link i {
  text-align: center;
  padding: 6px;
  border-radius: 100%;
  width: 25px;
}
.info-socialMedia .infoSM-item:nth-child(1) .infoSM-link i {
  color: #fff;
  background-color: #3b5998;
}
.info-socialMedia .infoSM-item:nth-child(2) .infoSM-link i {
  color: #fff;
  background-color: #0077b5;
}
.info-socialMedia .infoSM-item:nth-child(3) .infoSM-link i {
  color: #fff;
  background-color: #111111;
}
.info-socialMedia .infoSM-item:nth-child(n + 2) {
  margin-left: 7rem;
}
.info-socialMedia .infoSM-item .infoSM-link {
  text-decoration: none;
  color: #fff;
}
/* about section */
.about {
  padding: 70px 0;
  background-color: #f2f2f2;
}

.about .container .contentAb {
  flex-direction: row;
}
.about .container .contentAb .col-6 {
  width: 40%;
}

.about .container .contentAb .col-6:nth-child(1) {
  margin-left: 110px;
  position: relative;
}
.about .container .contentAb .col-6:nth-child(1) .imgAbout {
  height: 600px;
}
.about .container .contentAb .col-6:nth-child(1) .imgAbout img {
  height: 100%;
  object-fit: cover;
}
.about .container .contentAb .col-6:nth-child(1) .ic-play {
  position: absolute;
  top: 45%;
  left: 43%;
}
.about .container .contentAb .col-6:nth-child(1) .ic-play .popup-gallery {
  position: relative;
  display: inline-block;
}
.about .container .contentAb .col-6:nth-child(1) .ic-play a {
  width: 84px;
  height: 84px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50% 50%;
  display: inline-block;
  background: transparent;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.about .container .contentAb .col-6:nth-child(1) .ic-play a::before {
  content: "";
  width: 84px;
  height: 84px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100%;
  left: 50%;
  margin-left: -43px;
  bottom: 10%;
  margin-bottom: -9px;
  -webkit-animation: doublePulsation 1.9s ease infinite;
  animation: doublePulsation 1.9s ease infinite;
}
.about .container .contentAb .col-6:nth-child(2) p {
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
  margin-top: 40px;
}
.about .container .contentAb .col-6:nth-child(2) {
  width: 41%;
}
.about .container .contentAb .col-6:nth-child(2) h1 {
  font-weight: 800;
  line-height: 72px;
  font-size: 55px;
  letter-spacing: -0.3px;
  line-height: 1.22;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif !important;
}
.about .container .contentAb .col-6:nth-child(2) {
  padding-top: 90px;
}
.about .container .contentAb .col-6:nth-child(2) .bordersh {
  width: 110px;
  height: 9px;
  background-color: rgb(190, 147, 52);
  margin-top: 12px;
}

.about .container .contentBt {
  margin-top: 80px;
}
.about .container .contentBt .col-12 h1 {
  font-family: 'Bona Nova', serif;
  font-size: 55px;
  color: rgb(190, 147, 52);
  line-height: 58px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 1px 4px rgb(190, 147, 52, 0.5);
}
.about .container .contentBt .col-6 p {
  font-size: 16px;
  color: #333;
  line-height: 29px;
}
.about .container .contentBt .col-12 .paraBt {
  margin-top: 60px;
  padding: 0 120px;
}


@keyframes doublePulsation {
  0% {
    transform: scale(1, 1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}
.about .container .contentAb .col-6:nth-child(1) .ic-play:hover a {
  background-color: rgba(255, 255, 255, 0.9);
}
.about .container .contentAb .col-6:nth-child(1) .ic-play:hover a i {
  color: rgb(190, 147, 52);
}
.about .container .contentAb .col-6:nth-child(1) .ic-play a i {
  font-size: 40px;
  line-height: 84px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 27px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.about .container .contentAb .col-6:nth-child(2) {
  margin-left: 40px;
}

.about .container .contentAb .col-6:nth-child(1) p {
  margin-top: 2.1rem;
  letter-spacing: 0.1rem;
  line-height: 30px;
  text-align: justify;
  font-weight: 400;
}
.about .container .contentMiddle {
  text-align: center;
  margin-top: 70px;
}
.about .container .contentMiddle .col h2 {
  font-size: 65px;
  font-weight: 500;
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.9);
  width: 80%;
  margin: 0 28px;
  color: rgb(190, 147, 52);
}
.about .container .contentMiddle .col p {
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: 300;
  line-height: 25px;
  text-transform: unset;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.9);
}

.video-js {
  max-width: 100%;
  width: 100%;
}
.vjs-tech {
  object-fit: cover;
}

.about .container .contentAb .vjs-tech {
  /* height: 100%; */
}
/* major */

.major {
  padding: 70px 0;
}

.major .row .col-4 {
  width: 45%;
}
.major .row .col-8 {
  width: 55%;
}

/* .major .row .col-8 .row .col-6 {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
} */
/* area */

.area .container-fluid {
  max-width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}
.area .slide {
  width: max-content;
  margin-top: 50px;
}
.area .item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  /* box-shadow:  0 30px 50px #505050; */
}
.area .item:nth-child(1),
.area .item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.area .item:nth-child(1)::before,
.area .item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.area .item:nth-child(3) {
  left: 50%;
}
.area .item:nth-child(4) {
  left: calc(50% + 220px);
}
.area .item:nth-child(5) {
  left: calc(50% + 440px);
}
.area .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}
.area .item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 700px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}
.area .item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}
.area .item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}
.area .item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
.area .item button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.area .buttons {
  position: absolute;
  bottom: 30px;
  z-index: 10;
  text-align: center;
  width: 100%;
}
.area .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: 0.5s;
}
.area .buttons button:hover {
  background-color: rgb(190, 147, 52, 0.7);
  color: #fff;
}

.cvalue {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: rgb(190, 147, 52);
}

.cvalue .container {
  /* height: 600px; */
}
.cvalue .container h1 {
  font-size: 45px;
  text-align: left;
  font-weight: 700;
  line-height: 57px;
  color: #fff;
  font-family: 'Thasadith', sans-serif;
  margin-bottom: 45px;
}
.cvalue .container .wrapBoxValue {
  display: block;
  text-align: center;
}
.cvalue .container .wrapBoxValue .box1 {
  position: relative;
  top: 70px;
  display: block !important;
  margin: 0 auto;
}

.cvalue .container .wrapBoxValue .active h4 {
  color: #fff !important;
}

.cvalue .container .wrapBoxValue .box1.active p,
.cvalue .container .wrapBoxValue .box2.active p,
.cvalue .container .wrapBoxValue .box3.active p {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  padding: 10px 40px;
}

.cvalue .container .wrapBoxValue .box1.active {
  background: url("../imgs/values/svgexport-1.svg") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 20px !important;
  display: inline-block;
  width: 580px;
  height: 580px;
  background-position: center center;
  background-size: 100%;
  border-color: #fff;
}
.cvalue .container .wrapBoxValue .box2.active {
  background: url("../imgs/values/svgexport-2.svg") no-repeat;
  left: initial;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 20px !important;
  display: inline-block;
  width: 580px;
  height: 580px;
  background-position: center center;
  background-size: 100%;
  border-color: #fff;
}
.cvalue .container .wrapBoxValue .box3.active {
  background: url("../imgs/values/svgexport-3.svg") no-repeat;
  position: absolute;
  right: -260px;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 20px !important;
  display: inline-block;
  width: 580px;
  height: 580px;
  background-position: center center;
  background-size: 100%;
  border-color: #fff;
}
.cvalue .container .wrapBoxValue .box1:hover {
  background: url("../imgs/values/svgexport-1.svg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.cvalue .container .wrapBoxValue .box2 {
  position: relative;
  right: -20px;
}
.cvalue .container .wrapBoxValue .box2:hover {
  background: url("../imgs/values/svgexport-2.svg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.cvalue .container .wrapBoxValue .box3 {
  position: relative;
  left: -20px;
}
.cvalue .container .wrapBoxValue .box3:hover {
  background: url("../imgs/values/svgexport-3.svg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.cvalue .container .wrapBoxValue .box-val {
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 100%;
  display: inline-block;
  width: 296px;
  height: 298px;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.cvalue .container .wrapBoxValue .box-val:hover {
  border: 1px solid #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.cvalue .container .wrapBoxValue .box-val:hover .box-title h4,
.cvalue .container .wrapBoxValue .box-val:hover .box-title p {
  color: #fff;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  padding: 0 15px;
}
.cvalue .container .wrapBoxValue .box-val .box-title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}
.cvalue .container .wrapBoxValue .box-val .box-title h4 {
  color: #fff;
  font-style: normal;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif !important;
  font-weight: 800;
  letter-spacing: 1.5px;
  line-height: 30px;
}
.cvalue .container .wrapBoxValue .box-val .box-title p {
  display: none;
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

.cvalue .container .box1,
.cvalue .container .box2,
.cvalue .container .box3 {
  color: #fff;
  height: 606px;
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 792px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cvalue .container .box1 .box2 {
  position: absolute;
  left: -65%;
  top: 0;
}
.cvalue .container .box1 .box3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cvalue .container .box2 .box1 {
  position: absolute;
  left: 0;
  top: 0;
}
.cvalue .container .box2 .box3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cvalue .container .box3 .box1 {
  position: absolute;
  left: 0;
  top: 0;
}
.cvalue .container .box3 .box2 {
  position: absolute;
  left: -65%;
  bottom: 0;
}

/* projects */
.projects .container-fluid .row,
.projects .container-fluid {
  padding: 0;
  margin: 0;
}
.projects .container-fluid .row:nth-child(1) .col-6:nth-child(1),
.projects .container-fluid .row:nth-child(2) .col-6:nth-child(2) {
  background-position: center center !important;
  background-size: cover !important;
  height: 400px;
}
.projects .container-fluid .row:nth-child(1) .col-6:nth-child(2),
.projects .container-fluid .row:nth-child(2) .col-6:nth-child(1) {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 20px;
}

.projects .container-fluid .row:nth-child(1) .col-6:nth-child(2) {
  background-color: rgba(255,255,255);
}
.projects .container-fluid .row:nth-child(2) .col-6:nth-child(1) {
  background-color: rgba(190, 147, 52, 0.15);
}

.projects .container-fluid .row .col-6 h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 1.6px;
  font-family: 'Noto Serif', serif !important;
}
.projects .container-fluid .row .col-6 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  color: #555;
}

.projects .container-fluid .row:nth-child(1) .col-6:nth-child(2) p {
  margin-top: 30px;
}

.projects .container-fluid .row:nth-child(2) .col-6:nth-child(1) p {
  margin-top: 90px;
  margin-bottom: 40px;
}

.projects .container-fluid .bordersh {
  margin-bottom: 50px;
}
.projects .container-fluid .row .col {
  position: relative;
  overflow: hidden;
  padding: 0 2px;
}
.projects .container-fluid .row .col img {
  display: block;
  height: auto;
  transform: scale(1);
  transition: all 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.projects .container-fluid .row .col:hover .overplay {
  transform: translateY(0);
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.projects .container-fluid .row .col:hover img {
  transform: scale(1.3);
  transition: all 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.projects .container-fluid .row .col .overplay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 0;
  height: 100%;
  width: calc(100% - 4px);
  transition: 0.5s ease;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;
  transform: translateY(78%);
}
.projects .container-fluid .row .col .overplay .contentUp h2 {
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
.projects .container-fluid .row .col .overplay .contentUp p,
.projects .container-fluid .row .col .overplay .contentBottom p {
  font-weight: 400;
  font-size: 14px;
}
.projects .container-fluid .row .col .overplay .contentUp p {
  color: #fff;
}
.projects .container-fluid .row .col .overplay .contentBottom p {
  color: rgba(255, 255, 255, 0.7);
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #ffb703;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}
.button-86 a {
  font-size: 14px;
  color: #fff;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.projects .container-fluid .row .col .overplay .contentUp .contentUp-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.projects .container-fluid .row .col .overplay .contentUp .contentUp-logo div {
  margin-left: 20px;
}
.projects .container-fluid .row .col .overplay .contentUp .contentUp-logo img {
  height: 50px;
}
.projects
  .container-fluid
  .row
  .col:nth-child(1)
  .overplay
  .contentUp
  .contentUp-logo
  img,
.projects
  .container-fluid
  .row
  .col:nth-child(3)
  .overplay
  .contentUp
  .contentUp-logo
  img {
  width: 50px;
}
.projects
  .container-fluid
  .row
  .col:nth-child(4)
  .overplay
  .contentUp
  .contentUp-logo
  img {
  width: 70px;
}
.projects
  .container-fluid
  .row
  .col:nth-child(2)
  .overplay
  .contentUp
  .contentUp-logo
  img {
  width: 90px;
}

/* activities */
.activities .container-fluid {
  margin-top: 100px;
}
.activities .container-fluid .row .col-8 {
  overflow: hidden;
  padding-right: 0;
  padding-left: 30px;
}
.activities .container-fluid .row .col-4 {
  padding: 0 70px;
}
.activities .container-fluid .row .col-4 h2 {
  font-weight: 800;
  font-family: 'Noto Serif', serif !important;
  font-size: 2.1rem;
  padding-top: 6px;
  line-height: 39px;
  letter-spacing: 0.6px;
  color: rgb(190, 147, 52);
}
.activities .container-fluid .row .col-4 h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5px;
  opacity: 0.7;
  /* font-family: 'Noto Serif', serif !important; */
  color: rgb(190, 147, 52);
}
.activities .container-fluid .row .col-8 .swiperLibrary .swiper-wrapper .swiper-slide {
   height: 320px;
   max-width: 448px;
}
.activities .container-fluid .row .col-8 .swiperLibrary .swiper-wrapper .swiper-slide img{
   height: 100%;
   border-radius: 10px;
   object-fit: cover;
}
.activities .container-fluid .row .col-8 .swiperLibrary .swiper-pagination {
  position: static;
  text-align: right;
  padding-right: 40px;
  padding-top: 30px;
}
.activities .container-fluid .row .col-8 .swiperLibrary .swiper-pagination .swiper-pagination-bullet-active{
      background: rgb(190, 147, 52, 0.6) !important;
      opacity: 1;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      width: 30px !important;
      border-radius: 10px !important;
}
.activities .container-fluid .row .col-8 .swiperLibrary .swiper-pagination .swiper-pagination-bullet{
  background: rgb(190, 147, 52) !important;
}

.cooperators {
  padding: 50px 0;
  overflow: hidden;
}
.cooperators .container-fluid {
  padding: 32px 44px 0;
}
.cooperators .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cooperators .title p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #333;
}
.cooperators .title p span {
  color: rgb(190, 147, 52);
}
.cooperators .swiperlogo .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cooperators .swiperlogo .swiper-wrapper .swiper-slide img {
  height: 40px;
  max-width: 140px;
}

/* footer */
footer {
  background-color: rgb(190, 147, 52);
}
footer .container .f1 .col-4:nth-child(2),
footer .container .f3 .col-4:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

footer .container .f1 h2 a {
  font-size: 26px;
  color: #ffffff;
  font-weight: 400;
}
footer .container .f1 h2 span {
  display: block;
  font-size: 14px;
  color: #ffffac;
}
footer .container .f1 .col-4:nth-child(2) ul li {
  list-style-type: none;
  display: inline-block;
}
footer .container .f1 .col-4:nth-child(2) ul li a {
  background-color: transparent !important;
  border: 1px solid #f7ecd4;
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

footer .container .f1 {
  padding-top: 60px;
  border-bottom: 0.5px solid #f7ecd4;
  padding-bottom: 10px;
}
footer .container .f1 .col-4:nth-child(2) ul li a .fab {
  position: absolute;
  font-size: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7ecd4;
}
footer .container .f1 .col-4:nth-child(2) ul li a:hover {
  border-color: #ffffff;
  transition: all 0.5 ease-in;
}
footer .container .f1 .col-4:nth-child(2) ul li a:hover .fab {
  color: #ffffff;
}
footer .container .f3 {
  border-top: 0.5px solid #f7ecd4;
  padding-top: 10px;
}
footer .container .f3 p {
  color: #ffffac;
  font-size: 15px;
  line-height: 1.8;
  font-weight: normal;
}
footer .container .f3 p .textIc {
  color: #ffff2e;
}
footer .container .f2 {
  padding: 30px 0;
}
footer .container .f2 h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 15px;
}
footer .container .f2 .f2-infoL .f2-infoL-item {
  list-style-type: none;
  padding-bottom: 20px;
  display: table;
  line-height: 1.5;
}
footer .container .f2 .f2-infoL .f2-infoL-item .f2-infoL-link .info-under {
  padding-left: 10px;
}
footer
  .container
  .f2
  .f2-infoL
  .f2-infoL-item:nth-child(3)
  .f2-infoL-link
  span:nth-child(n + 3) {
  padding-left: 28px;
  display: block;
  padding-top: 8px;
}
footer .container .f2 .f2-infoL .f2-infoL-item .f2-infoL-link i,
footer .container .f2 .f2-infoL .f2-infoL-item .f2-infoL-link span {
  color: #ffffac;
  font-size: 14px;
}

footer .container .f2 .offi-list h2 {
  padding-bottom: 10px;
  font-size: 18px;
  color: #ffff2e;
}
footer .container .f2 .offi-list .offi-list-item a {
  display: table;
  padding-bottom: 10px;
}
footer .container .f2 .offi-list .offi-list-item .offi-list-link i,
footer .container .f2 .offi-list .offi-list-item .offi-list-link span {
  display: table-cell;
  font-size: 14px;
  color: #ffffac;
}
footer .container .f2 .offi-list .offi-list-item .offi-list-link span {
  padding-left: 10px;
}
footer .container .f2 .col:nth-child(3) .map {
  height: 200px;
  width: 100%;
}
footer .container .f2 .col:nth-child(4) img {
  height: 200px;
  object-fit: cover;
}
@media (min-width: 992px) {
  /* nav .wrHeader .txt {
        position: static;
    } */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 16px;
  }
}

@media (max-width: 1304px) {
  .area .item:nth-child(3) {
    left: 100%;
  }
  .area .item:nth-child(4) {
    left: calc(100% + 800px);
  }
  .area .item:nth-child(5) {
    left: calc(100% + 800px);
  }
  .area .item:nth-child(n + 6) {
    left: calc(100% + 800px);
    opacity: 0;
  }
}

/* @media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
} */

@media (max-width: 991px) {
  .navbar {
    background-color: #000;
  }
  .navbar-toggler-icon {
    color: #fff;
    height: 1.1em;
    width: 1.8em;
  }
  .navbar-toggler-icon .fa-bars {
    font-size: 24px;
  }
  .pdw .content {
    margin-left: 1.5rem;
  }
  .cvalue .container {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .cvalue .container .row {
    padding-top: 20px;
  }
  .cvalue .container .row .col-4 {
    width: 99%;
    padding-top: 20px !important;
  }
  .cvalue .container .row .col-4:nth-child(2) {
    padding-top: 0px;
  }
  .cvalue .container .row .col-4 {
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .container .f2 .col {
    width: 100% !important;
  }
  .projects .container-fluid .row .col {
    flex: 0 0 auto;
    width: 100% !important;
  }
  .navbar-expand-lg.oque {
    background-color: #000 !important;
  }
  .navbar .navbar-toggler-icon {
    color: #ffb703;
  }
  .navbar .navbar-nav li {
    margin-bottom: 5px;
  }
  .navbar .navbar-nav li .active {
    color: #fff;
  }
  .navbar .navbar-nav li a {
    padding: 10px;
    color: #ffb703;
  }
  header .navbar .wrHeader > a {
    color: #ffb703;
  }

  .positionEmployee .container .row .col-sm-6 {
    width: 49.9% !important;
  }
  .positionEmployee .container .row .col-sm-6 .txt-pe h2 {
    font-size: 13px !important;
  }
  .positionEmployee .container .row .col-sm-6 .txt-pe a {
    font-size: 12px !important;
  }

  .valuesW .container .row .col-6 {
    width: 99.9%;
  }

  .people .container .swiper .swiper-slide .col-9 {
    width: 99.9%;
  }
  .people .container .swiper img {
    max-height: 180px !important;
  }
  .people .container .swiper .col-3 {
    width: 35%;
  }
  .people .container .swiper .swiper-slide .col-9 p {
    padding-top: 10px;
  }
  .why .container .row .col-6 {
    width: 99.9%;
  }
  .projects .container-fluid .row .col-6 {
    width: 99.9%;
  }
  .projects .container-fluid .row:nth-child(2) .col-6:nth-child(2) {
    order: -1;
  }
  .projects .container-fluid .row:nth-child(2) .col-6:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .projects .container-fluid .row:nth-child(2) .col-6:nth-child(1) p {
    margin-top: 0;
    order: 2;
  }
  .area .item .content {
    width: 400px;
  }
  .detailW .container .row .col-4 {
    display: none;
  }
  .detailW .container .row .col-8 {
    width: 99.9%;
  }
  .chooseUs .container .row .col-6 {
    width: 99.9%
  }
  .people .container .row .col-sm-4 {
    width: 99.9%;
    flex-direction: row;
  }
  .people .container .row .col-sm-4 .contentUn-pl{
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .about .container .row .col-6:nth-child(1) {
    margin-left: 70px;
    padding-top: 70px;
  }
  footer .container .f2 .col {
    flex: 0 0 auto;
    width: 50%;
  }
  .about .container .contentMiddle .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;
  }
  .about .container .contentMiddle .col h2 {
    margin: 0px;
  }
  .activities .container-fluid .row .col-4,
  .activities .container-fluid .row .col-8
  {
    width: 99.9%
  }
  .activities .container-fluid .row .col-8 .swiperLibrary .swiper-wrapper .swiper-slide {
    max-width: 100%;
    height: 420px;
  }
  .activities .container-fluid .row .col-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .activities .container-fluid .row .col-4 {
    padding: 0 10px;
  }
  .activities .container-fluid .row .col-4 h2{
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .major .row .col-4,
  .major .row .col-8 {
    width: 99.9%;
  }
  .major .row .col-8 .major-list-item:nth-child(-n + 2) {
    margin-top: 12px;
  }
  .projects .container-fluid .row .col {
    flex: 0 0 auto;
    width: 50%;
  }
  .projects .container-fluid .row .col .overplay {
    transform: translateY(85%);
  }
  .info-socialMedia {
    display: none;
  }
  .positionEmployee .contentUnder .container .row .col-4 {
    width: calc(49.9% - 40px) !important;
  }
  .about .container .row .col-6 {
    flex: 100%;
  }
  .about .container .row .col-6:nth-child(1) {
    margin-left: 0 !important;
    padding: 40px 40px;
  }
  .about .container .row .col-6:nth-child(2) {
    padding: 20px 40px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .major .row .col-8 .major-list-item {
    width: 98%;
  }
  footer .container .f1 ul {
    display: flex;
    padding-top: 10px;
  }
  .positionEmployee .container .row .col-sm-6 {
    width: 99.9% !important;
  }
  .positionEmployee {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .people .container .slid-color {
    display: none;
  }
  .people .container .swiper .col-3 {
    width: 45%;
  }
  .positionEmployee .contentUnder .container .row .col-4 {
    width: calc(99.9% - 40px) !important;
  }
  .about .container .contentBt .col-12 .paraBt {
    padding: 0 !important;
  }
}
/* @media (min-width: px) {
  
} */

@media (max-width: 576px) {
  footer .container .f3 .col-4 p {
    font-size: 9px !important;
  }
  .projects .container-fluid .row .col .overplay {
    transform: translateY(78%);
  }
  .valuesW .container .row .col-6:nth-child(2) img {
    max-width: 100% !important;
    height: 250px !important;
  }
  .people .container .swiper .col-3 {
    width: 50%;
  }
  .people .container .swiper .col-3 img {
    max-height: 150px !important;
  }
  .people .container .swiper .swiper-slide .col-9 p {
    font-size: 14px !important;
  }
  .pdw .text-navB {
    margin-left: 2.5rem !important;
  } 
}
